
@{
    ViewBag.Title = "lgn";
}

<h2>lgn</h2>

<table>
    <tr>
        <td>
            Username:
        </td>
        <td>
            <input type="text" name="username" id="username" />
        </td>
    </tr>

    <tr>
        <td>
            Password:
        </td>
        <td>
            <input type="text" name="password" id="password" />
        </td>
    </tr>
    <tr>


        <button type="submit" value="submit" name="submit">Login</button>

    </tr>
</table>

